svg {
    display: block;
    margin: 50px auto auto auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.cheat, .guides line {stroke: #000; visibility: hidden;}
text.cheat {stroke: none;}
svg:hover .cheat, svg:hover .guides line {visibility: visible;}

.bar1 {
  fill: rgb(228, 26, 28);
}
.bar2 {
  fill: rgb(55, 126, 184);
}

.axis path, .axis line {
  stroke-width: 3px;
}